* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}


.msa {
    margin-top: 30px;
    color: #fa625f;
}

nav {
    background-color:#ffde22 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    height: 70px;
}

.nav-tab a {
    text-decoration: none; 
    color:#393f4d ;
    margin: 0 20px;
    font-size: 20px;
    transition: 0.3s;

}

.nav-tab a:hover {
    
    transition: 0.3s;
    color: #ff414e;
    
}

.logo {
    color:#393f4d ;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}


h1 {
    text-align: center;
}

section {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section-title {
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 10px;
}

button {
    background: #780000;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #cc0000;
}

/* /* __________________________________________________________________________ */

/* for show at home tab */

/* _________________________________________________________ */
/* movie card and design */
#movie-container,
#popular-container,
#anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    cursor: pointer;
}

.movie-card {
    width: 150px;
    background: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;

}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(243, 239, 5);
    transition: 0.3s;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.4s;
}

.movie-card:hover h3 {
    color: red;
}

.movie-info {
    padding: 10px;
}

.movie-info h3 {
    font-size: 16px;
    margin: 5px 0;
}

.movie-info p {
    color: #f5c518;
}

.section-title {
    color: white;
    border-left: 5px solid yellow;
    padding-left: 10px;
    margin-top: 40px;
}

.section-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: yellow;
    margin: 10px auto;
    border-radius: 2px;
}

/* ___________________________________________________ */
/* If screen width ≤ 768px → apply mobile styles */
@media (max-width:768px) {

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 15px;
    }

    .nav-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
    }

    .nav-tab a {
        display: block;
        font-size: 20px;
        margin: 5px 0;
    }

    .movie-card {
        width: 150px;
    }

    /* about footer
   */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        width: 80%;
    }

}



/* If the screen width is 480px or smaller → apply below styles */
@media (max-width:480px) {

    .movie-card {
        width: 45%;

    }

    #movie-container,
    #popular-container,
    #anime-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .search-box {
        flex-direction: column;
        gap: 10px;
    }

    .search-box input {
        width: 90%;
    }

    .search-box button {
        width: 120px;
    }

    .contact-form {
        width: 90%;
        margin: auto;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .contact-form button {
        width: 100%;
    }

}




/* _____________________________________________________________________ */
/* about.html */
.about-title {
    margin-top: 40px;
}

.credit {
    color: #e50914;
}

.info-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(243, 239, 5);
    transition: 0.3s;
}


/* _____________________________________________ */
footer {
    background: #0ce47c4a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 210px;

}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
}

.team-section {
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-card {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 12px;
    width: 260px;
    text-align: center;
}

/* _____________________________________________________________________________________________ */

/* for contact */

.contact-section {
    max-width: 500px;
    margin: 80px auto;
    text-align: center;
    color: #ffff0d;
}

.contacth2 {
    text-align: center;
    margin-right: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-right: 100px;
    font-size: 16px;
}

.contact-form button {
    width: 70%;
    padding: 15px;
    background-color: #08b7f7;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #ff2a2a;
    transform: scale(1.05);
}
